/* font-size */
.fs-800 { font-size: 6.25rem; }
.fs-700 { font-size: 3.5rem; }
.fs-600 { font-size: 3rem ;}
.fs-550 { font-size: 2.5rem;}
.fs-500 { font-size: 2rem; }
.fs-400 { font-size: 1.75rem; }
.fs-350 {font-size: 1.5rem;}
.fs-325 {font-size: 1.3125rem;}
.fs-300 { font-size: 1.125rem; }
.fs-200 { font-size: 1rem; }
.fs-100 { font-size: 0.875rem; }


/* font-family */
.ff-serif { font-family: 'Bree Serif', serif; }
.ff-normal { font-family: 'Roboto Slab', serif; }

/* box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* letter-space */
.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 


/* letter-form */
.uppercase {text-transform: uppercase;}
.capitalize{text-transform: capitalize;}
.justify{ justify-content: center;}
.space{justify-content: space-between;}
/* Scroll behavior */
html{
scroll-behavior: smooth;
}

/* reset-margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
picture {
    margin: 0; 
}

/* font-weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* general */
.flex {
    display: flex;
    gap: var(--gap, 1.15rem); 
}
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
/* Hero */
/* Header */
.primary-header div{
    padding-left: 4.5rem;
}
.logo{
    background: url(../img/logo.png) no-repeat center / cover;
    position: relative;
    width: 160px;
    height: 45px;
    display: block;
    cursor: pointer;
}
.primary-header{
    /* position: fixed; */
    width: 100%;
    align-items: center;
    z-index: 9999;
    justify-content: space-between;
    background: #FAFAFA;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.primary-header nav{
    padding: 8px 0px;
}
.primary-navigation{
    list-style: none;
    padding-right: 4.5rem;
}
.primary-navigation li {
    padding: 8px 0px;
}
.primary-navigation li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    text-align: center;
}
.primary-navigation li a.active,
.primary-navigation li a:hover{
    color: #01A4E4;
}

.navbtn{
    padding: 8px 0px;
    width: 90px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    /* font-size: 26px; */
    border-radius: 5px;
    background: #01A4E4;
    cursor: pointer;
}

.grid-container{
    position: relative;
    background: #ffff;
    width: 100%;
    height: 350px;
    display: grid;
    align-items: center;
    padding: 0px 150px ;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.10); */
}

.hero-banner{
    background: #01A4E4;
    width: 100%;
    height: 225px;
    border-radius: 25px;
    display: grid;
}
.hero-header{
    width: 100%;
    height: 185px;
}
.hero-header-text{
    display: grid;
    height: 225px;
    align-content: center;
    padding-left: 36px;
    color: #ffffff;
}
.hero-header-text span p{
    padding: 3.2px 0px;
}
.hero-btn{
    padding:1px 0px;
    width: 120px;
    height: 36px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #1678F2;;
    background: #ffffff;
    cursor: pointer;
}
.hero-header-imgcontainer{
    padding-right: 36px;
}
.hero-header-img{
    background: url(../img/img-1.png) no-repeat center / cover;
    position: relative;
    width: 250px;
    height: 225px;
}
.hero-fotter{
    position: relative;
}
.hero-fotter-text{
    margin-left: 64.1%;
    width: 36%;
    height: 40px;
    background: rgba(254, 254, 254, 0.81);
    border-radius: 25px 0px;
    text-align: center;
    color: #1678F2;
}
.hero-fotter-text p{
    padding: 8px 0px;
}

/* About us */
#about{
    padding: 0px 50px;
    width: 100%;
    background: #fff ;
}
.about-main{
    padding: 0.3rem 5rem;
    display: flex;
    gap: 2.25rem;
}
.about-div{
    padding: 2.5rem 0;
    max-width: 820px;
}
.about-div h1{
    font-size: 2.25rem;
    padding-bottom: 2rem;
    font-weight: 400;
    text-align: center;
}
.about-div p{
    padding-right: 2rem;
    text-align: justify;
}
.about-img-div{
    display: grid;
    align-content: center;
    width: 100%;
}
.about-img{
    background: url(../img/img-2.png) no-repeat center;
    background-size: cover;
    width: 370px;
    height: 230px;
    /* box-shadow: -3px 4px 10px black; */
    cursor: pointer;
}

/* Services */
#service{
    padding: 0px 50px;
    width: 100%;
    min-height: 520px;
    background: #fff ;
}
.service-main{
    padding: 1.25rem 5rem;
    gap: 2.25rem;
}
.service-header{
    justify-content: center;
    font-size: 2.7rem;
}
.service-container{
    width: 100%;
    justify-content: center;
    gap: 12.25rem;
}
.service-container-box{
    width: 280px;
    height: 360px;
    background: rgba(1, 164, 228, 0.5);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    gap: 0px;
}
.service-img-container{
    padding: 0.7rem 0.3rem;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0px 0px;
    display: grid;
    align-content: center;
}
.service-img-1{
    background: url(../img/img-3.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 240px;
    display: block;
    cursor: pointer;
}
.service-img-2{
    background: url(../img/img-4.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 215px;
    display: block;
    cursor: pointer;
}
.service-text-container{
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255);
    border-radius: 0px 0px 15px 15px;  
    display: grid;
    align-content: center;
    text-align: center;
    cursor: pointer;
}
.service-text-container a{
    text-decoration: none;
    color: #1678F2;
}

/* Contacts */

#contacts{
    padding: 0px 50px;
    width: 100%;
    min-height: 360px;
    background: #fff ;
}
.contact-main{
    padding: 1.25rem 5rem;
}
.contact-header{
    justify-content: center;
    display: grid;
    font-size: 2.7rem;
}
.contact-header p{
    display: grid;
    justify-content: center;
}

.contact-form{
    display: grid;
    padding: 0.75rem 0;
    justify-content: center;
    text-align: center;
    
}

.contact-form input{
    width: 500px;
    height: 36px;
    padding: 0.9em 0.7em;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background: #f3f3f3;
    outline: none;
    border: none;
    border-left: 2px solid #01A4E4;
    border-radius: 0px;
    outline: none !important;
    box-shadow: 0px 0px 3px #bdbcbc;
}
.contact-form textarea{
    width: 500px;
    height: 90px;
    font-size: 14px;
    resize: none;
    color: #000;
    padding: 0.9em 0.7em;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    background: #f3f3f3;
    outline: none;
    border: none;
    border-left: 2px solid #01A4E4;
    border-radius: 0px;
    outline: none !important;
    box-shadow: 0px 0px 3px #bdbcbc;
}
.contact-form button{
    font-size: 16px;
    padding: 8px 0px;
    width: 500px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    background: #01A4E4;
    cursor: pointer;
}

/* footer */

#footer{
    padding: 15px 50px;
    width: 100%;
    min-height: 200px;
    display: grid;
    align-content: center;
    background: #1678F2 ;
}
.footer-main{
    display: grid;
    gap: 0.75rem;
    justify-content: center;
    text-align: center;
}
.footer-social-container{
    justify-content: center;
}
.footer-social-div{
    height: 25px;
    width: 25px;
}
.footer-social-div a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.footer-logo-container{
    justify-content: center;
}
.footer-logo{
    background: url(../img/logo-w.png) no-repeat center / cover;
    position: relative;
    width: 160px;
    height: 45px;
    display: block;
    cursor: pointer;
}
.footer-copyright{
    font-weight: 600;
}

/* errors */
.error{
    margin: auto;
    justify-content: center;
    height: 36px;
    width: 320px;
    border-radius: 5px;
}
#error{
    justify-content: center;
    gap: 0.3rem;
}
#btn{
    outline: none;
    border: none;
    background-color: #fff;
    color: #1678F2;    
}