<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">

    <!--Custom Css-->
    <link href="../static/css/predict.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/preddisease.css" rel="stylesheet" type="text/css" media="all" />

    <title>Predict Diabetes</title>
</head>

<body>
    <!-- Header -->
    <div class="main-top">
        <div class="primary-header flex">
            <div>
                <a href="/"><span class="logo"></span></a>
            </div>
            <!-- button-nav -->
            <!-- <button type="button" class="nav-toggler" aria-controls="primary-navigation" aria-expanded="false">
                    <span></span>
                </button> -->
            <!-- Navigation -->
            <nav>
                <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
                    <li><a class=" active ff-normal fs-300 " href="/">Home</a></li>
                    <li><a class="ff-normal fs-300 " href="/#contacts">Contact</a></li>
                    <form><button class="ff-normal fs-300 navbtn" formaction="{{url_for('home')}}">Login</button>
                    </form>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Header -->
    
    <section id="form-container">
        <div class="header ff-serif fs-500"><u>Predict about Diabetes</u></div>
        <form  method="POST">
            <div class="patient-record flex">
            <input class="forminput" type="text" name="name" placeholder="Name"><!-- comment -->
            <input class="forminput" type="text" name="email" placeholder="Email">
            <input class="forminput" type="text" maxlength="10" name="phone" placeholder="Phone">
            </div>
            <hr class="hr">
            <div class="predict-container">
            <input class="forminput" type="text" name="Pregnancies" placeholder="Pregnancies Count"><br><br>
            <input class="forminput" type="text" name="Glucose" placeholder="Glucose Count "><br><br>
            <input class="forminput" type="text" name="BloodPressure" placeholder="BP Count"><br><br>
            <input class="forminput" type="text" name="Insulin" placeholder="Insulin Count"><br><br>
            <input class="forminput" type="text" name="BMI" placeholder="BMI Count "><br><br>
            <!-- <input class="forminput" type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigree Count"><br><br> -->
            <input class="forminput" type="text" name="Age" placeholder="Your Age "><br><br>
            </div>
            <button type="submit" name="btn" formaction="{{url_for('result_diabetes')}}" value="Submit">Submit</button><br>
        </form>
    </section>



</body>

</html>